/* My Changes */
* {
  outline-width: 1.5px !important;
  border-width: 1.5px !important;
}

.title-actions, li[title='Refresh Explorer'], li[title='Collapse Folders in Explorer'], .minimap-shadow-visible, .scroll-decoration, .decorationsOverviewRuler, .shadow { display: none !important}

.filematch .monaco-icon-label:before .custom-list-row.results .monaco-list-row .monaco-icon-label:before {background-position: 0 bottom !important}

.title-label { flex: initial !important }

.minimap { transform: translateX(13px) !important }

.nosidebar .editor-actions { width: 130px }

.title-label > h2 {font-weight: bold !important}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab {
  --editor-group-tab-height: 1.2
}
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab .monaco-icon-label:before {
  background-position: "top left";
  padding-right: 2px
}
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab span.monaco-icon-label-container {
  line-height: 1.5
}
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab span.monaco-icon-description-container {
  display: block;
  font-size: 0.9em;
  line-height: 1
}
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab span.monaco-icon-description-container .label-description {
  margin: 0
}

/* End My Changes */


/* notifications toolbar */

/* secondary button */
.notifications-list-container .monaco-list-row .monaco-text-button.secondary {
  /* color: inherit !important; */
  background-color: inherit !important;
}

.notifications-list-container .monaco-list-row .monaco-text-button.secondary:hover {
  background-color: #141b25 !important;
}

.notification-list-item .notification-list-item-toolbar-container .action-item .codicon {
  color: inherit !important;
  opacity: .4 !important;
  background: none !important;
}

.notification-list-item .notification-list-item-toolbar-container .action-item .codicon:hover {
  opacity: 1 !important;
}


/* notifications */

:where(.notifications-list-container) .monaco-list-row>div:has( :is(.codicon-error)),
:where(.notifications-list-container) .monaco-list-row:has( :is(.codicon-error)) .monaco-text-button.secondary {
  color: #EB9CA6 !important;
  border: 1.5px solid #684048 !important;
  background-image: linear-gradient(to right, #f24d4c55, #22242f 30%) !important;
}

:where(.notifications-list-container) .monaco-list-row>div:has( :is(.codicon-warning)),
:where(.notifications-list-container) .monaco-list-row:has( :is(.codicon-warning)) .monaco-text-button.secondary {
  color: #BCA031 !important;
  border: 1.5px solid #574F27 !important;
  background-image: linear-gradient(to right, #e9bd0c55, #22242f 30%) !important;
}

:where(.notifications-list-container) .monaco-list-row>div:has( :is(.codicon-info)),
:where(.notifications-list-container) .monaco-list-row:has( :is(.codicon-info)) .monaco-text-button.secondary {
  color: #6CA9FF !important;
  border: 1.5px solid #2D4C7A !important;
  background-image: linear-gradient(to right, #3498db55, #22242f 30%) !important;
}



/* notifications buttons */


.notifications-list-container .monaco-list-row:has(.codicon-info) .monaco-text-button:not(.secondary) {
  text-shadow: none !important;
  border: 1px solid #181a1f !important;
  background-color: #0f82e6 !important;
  background-image: linear-gradient(#0f87f0, #0f82e6) !important;
  color: white !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-info) .monaco-text-button:not(.secondary):hover {
  color: #ffffff !important;
  background-image: linear-gradient(#1e8ef1, #1489f0) !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-info) .monaco-text-button:not(.secondary):active {
  background: #0d77d3 !important;
  box-shadow: none !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-info) .monaco-text-button:not(.secondary):focus {
  outline: none !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-info) .monaco-text-button:not(.secondary):hover,
.notifications-list-container .monaco-list-row:has(.codicon-info) .monaco-text-button:not(.secondary):focus {
  color: white !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-info) .monaco-text-button:not(.secondary):focus {
  border-color: transparent !important;
  background-clip: padding-box !important;
  box-shadow: inset 0 0 0 1px rgba(24, 26, 31, 0.5), 0 0 0 1px #0f82e6 !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-warning) .monaco-text-button:not(.secondary) {
  text-shadow: none !important;
  border: 1px solid #181a1f !important;
  background-color: #ad7c0b !important;
  background-image: linear-gradient(#b6830c, #ad7c0b) !important;
  color: white !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-warning) .monaco-text-button:not(.secondary):hover {
  color: #ffffff !important;
  background-image: linear-gradient(#c58d0d, #bb860c) !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-warning) .monaco-text-button:not(.secondary):active {
  background: #996e0a !important;
  box-shadow: none !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-warning) .monaco-text-button:not(.secondary):focus {
  outline: none !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-warning) .monaco-text-button:not(.secondary):hover,
.notifications-list-container .monaco-list-row:has(.codicon-warning) .monaco-text-button:not(.secondary):focus {
  color: white !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-warning) .monaco-text-button:not(.secondary):focus {
  border-color: transparent !important;
  background-clip: padding-box !important;
  box-shadow: inset 0 0 0 1px rgba(24, 26, 31, 0.5), 0 0 0 1px #ad7c0b !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-error) .monaco-text-button:not(.secondary) {
  text-shadow: none !important;
  border: 1px solid #181a1f !important;
  background-color: #d13b2e !important;
  background-image: linear-gradient(#d34336, #d13b2e) !important;
  color: white !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-error) .monaco-text-button:not(.secondary):hover {
  color: #ffffff !important;
  background-image: linear-gradient(#d64f43, #d4473a) !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-error) .monaco-text-button:not(.secondary):active {
  background: #c0372a !important;
  box-shadow: none !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-error) .monaco-text-button:not(.secondary):focus {
  outline: none !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-error) .monaco-text-button:not(.secondary):hover,
.notifications-list-container .monaco-list-row:has(.codicon-error) .monaco-text-button:not(.secondary):focus {
  color: white !important;
}

.notifications-list-container .monaco-list-row:has(.codicon-error) .monaco-text-button:not(.secondary):focus {
  border-color: transparent !important;
  background-clip: padding-box !important;
  box-shadow: inset 0 0 0 1px rgba(24, 26, 31, 0.5), 0 0 0 1px #d13b2e !important;
}


/* suggest widget */
.monaco-editor .suggest-widget .monaco-list-row {
  left: -2px !important;
  width: calc(100% + 2px) !important;
}

    /* suggest-widget size */
        .monaco-editor .suggest-widget.docs-side {
            width: 1600px;
        }
        .monaco-editor .suggest-widget.docs-side > .details {
            width: 70%;
            max-height: 800px !important;
        }
        .monaco-editor .suggest-widget.docs-side > .tree {
            width: 30%;
            float: left;
        }
        
    /* parameter-hints-widget */
        .editor-widget.parameter-hints-widget.visible {
            max-height: 800px !important;
        }
        .monaco-editor .parameter-hints-widget > .wrapper {
            max-width: 1600px;
        }

    /* editor-hover */
        .monaco-editor-hover .monaco-editor-hover-content {
            max-width: 1600px;
        }

/* .monaco-editor .suggest-widget .codicon[class*=-variable] {
       */
/* .monaco-editor .suggest-widget .codicon-symbol-snippet[class*=codicon-] {
           */
.monaco-editor .suggest-widget .codicon[class*=codicon-] {
  color: rgba(157, 165, 180, 0.6);
  background: rgba(157, 165, 180, 0.1);
  /* .monaco-editor .suggest-widget .codicon[class*=codicon-symbol-function] {
                   */
  font-size: 14px;
  display: inline-block !important;
  height: inherit !important;
  min-width: 2em;
  padding-left: 0;
  margin-right: 0.75em !important;
  line-height: 2em;
  text-align: center;
  /* font-style: normal;
                   */
  /* font-weight: bold;
                   */
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-attribute] {
  color: #d19a66 !important;
  background: rgba(209, 154, 102, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-builtin] {
  color: #c678dd !important;
  background: rgba(198, 120, 221, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-class] {
  color: #e5c07b !important;
  background: rgba(229, 192, 123, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-constant] {
  color: #d19a66 !important;
  background: rgba(209, 154, 102, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-function] {
  color: #61afef !important;
  background: rgba(97, 175, 239, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-import] {
  color: #c678dd !important;
  background: rgba(198, 120, 221, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-keyword] {
  color: #c678dd !important;
  background: rgba(198, 120, 221, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-method] {
  color: #61afef !important;
  background: rgba(97, 175, 239, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-module] {
  color: #c678dd !important;
  background: rgba(198, 120, 221, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-mixin] {
  color: #e5c07b !important;
  background: rgba(229, 192, 123, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-package] {
  color: #c678dd !important;
  background: rgba(198, 120, 221, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-property] {
  color: #abb2bf !important;
  background: rgba(171, 178, 191, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-require] {
  color: #c678dd !important;
  background: rgba(198, 120, 221, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-snippet] {
  color: #98c379 !important;
  background: rgba(152, 195, 121, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-tag] {
  color: #e06c75 !important;
  background: rgba(224, 108, 117, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-type] {
  color: #e5c07b !important;
  background: rgba(229, 192, 123, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-value] {
  color: #abb2bf !important;
  background: rgba(171, 178, 191, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-variable] {
  color: #e06c75 !important;
  background: rgba(224, 108, 117, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-selector] {
  color: #d19a66 !important;
  background: rgba(209, 154, 102, 0.2);
}

.monaco-editor .suggest-widget .codicon[class*=codicon-symbol-pseudo-selector] {
  color: #d19a66 !important;
  background: rgba(209, 154, 102, 0.2);
}